.filter {
	background-color: darkgray;
	float: left;
	width: 25%;
	height: 100%;
}

.filter input {
	margin: 3%;
	padding: 3%;
	width: 80%;	
}

.todo-list_wrapper{
	background-color: #e2d3d3;
	min-height: 440px
	
}
.todo-item {
   border: 1px solid #c5b0b0;
	border-radius: 13px;
	min-height: 220px;
	overflow: auto
}

.delBtn{
	float: right;
    margin: 4%;
	cursor: pointer
}